.footer {
  align-items: center;
  background-color: #8f57fd;
  display: flex;
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.footer h3 {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
